:root {
    --text-color: #293264
}

.button {
    background-color: #4D5B9E;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #4D5B9E;
    border-radius: 10px;
    font-size: 0.625rem;
    font-weight: 600;
    display: flex;
    margin: 0 auto;
    cursor: pointer;
}

.button:active{
    background-color: #293264;
}