:root {
    --text-color: #293264
}

.quizzical_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
}

.quizzical {
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
}

.quizzical_sub {
    color: var(--text-color);
    font-weight: 500;
    font-size: 1rem;
}

.start {
    background-color: #4D5B9E;
    color: #fff;
    font-size: 1rem;
    padding: 1rem 1.625rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}
