* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #293264
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F7FB;
}

.question_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: start;
    padding: 2rem 4rem;
    margin-top: 100px;
}

.divider {
    height: 1px;
    background-color: #DBDEF0;
    width: 100%;
    margin: 16px 0;
}